/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 Jan, 2021, 1:03:47 AM
    Author     : Mohak Chavan
*/


:root{
    --primary_color: #008577;
}

input{
    font-size: large;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: #767676;
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
}

input[type="submit"], input[type="button"]{
    border: 0px;
    background-color: var(--primary_color);
    color: #ffffff;
    cursor: pointer;
}

input[type="submit"]:focus, input[type="button"]:focus{
    outline-width: 0px;
}

input[type="text"]:focus, input[type="number"]:focus{
    outline-width: 0px;
    border-bottom-color: var(--primary_color);
}

select:focus {
    outline-color: var(--primary_color);
}

select, input{
    padding: 1.5% 2%;
}