<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Pustak Ni Parab</display-name>
    <servlet>
        <servlet-name>UserSignedIn</servlet-name>
        <servlet-class>com.mohakchavan.pustakniparab_web.UserSignedIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogUserIn</servlet-name>
        <servlet-class>com.mohakchavan.pustakniparab_web.MainServlets.LogUserIn</servlet-class>
    </servlet>
    <servlet>
        <description>Login page for Pustak Ni Parab.</description>
        <servlet-name>LoginPageJSP</servlet-name>
        <jsp-file>/mainPages/loginPage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.mohakchavan.pustakniparab_web.MainServlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewBooksJSP</servlet-name>
        <jsp-file>/mainPages/newBooks.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>IssuesJSP</servlet-name>
        <jsp-file>/mainPages/issues.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddNameJSP</servlet-name>
        <jsp-file>/mainPages/addNames.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ReturnsJSP</servlet-name>
        <jsp-file>/mainPages/returns.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewAllNamesJSP</servlet-name>
        <jsp-file>/mainPages/viewAllNames.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddIssue</servlet-name>
        <servlet-class>com.mohakchavan.pustakniparab_web.MainServlets.AddIssue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnIssue</servlet-name>
        <servlet-class>com.mohakchavan.pustakniparab_web.MainServlets.ReturnIssue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>com.mohakchavan.pustakniparab_web.MainServlets.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewName</servlet-name>
        <servlet-class>com.mohakchavan.pustakniparab_web.MainServlets.NewName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllNames</servlet-name>
        <servlet-class>com.mohakchavan.pustakniparab_web.MainServlets.AllNames</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBooks</servlet-name>
        <servlet-class>com.mohakchavan.pustakniparab_web.MainServlets.AddBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageJSP</servlet-name>
        <jsp-file>/mainPages/homePage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSignedIn</servlet-name>
        <url-pattern>/UserSignedIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPageJSP</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewBooksJSP</servlet-name>
        <url-pattern>/newBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssuesJSP</servlet-name>
        <url-pattern>/issues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNameJSP</servlet-name>
        <url-pattern>/addName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnsJSP</servlet-name>
        <url-pattern>/returns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllNamesJSP</servlet-name>
        <url-pattern>/viewAllNames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddIssue</servlet-name>
        <url-pattern>/AddIssue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnIssue</servlet-name>
        <url-pattern>/ReturnIssue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewName</servlet-name>
        <url-pattern>/NewName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllNames</servlet-name>
        <url-pattern>/AllNames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBooks</servlet-name>
        <url-pattern>/AddBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogUserIn</servlet-name>
        <url-pattern>/LogUserIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageJSP</servlet-name>
        <url-pattern>/homePage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
	    30
	</session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>login</welcome-file>
    </welcome-file-list>
</web-app>
